<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || 'Turbochat' %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  </head>

  <body>
    <nav class="navbar fixed-top navbar-light bg-faded">
      <div class="d-flex justify-content-end">
        <div class="p-2 mr-auto">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "turbochat", root_path, class: "nav-link" %>
            </li>
          </ul>
        </div>
        <div class="p-2">
          <ul class="navbar-nav">
            <li class="nav-item">
              <% if current_user.present? %>
                <%= link_to "#{current_user.name} (sign out)", current_user, method: :delete, remote: true, class: "nav-link" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="content">
        <%= yield %>
      </div>
    </div>
    <%= yield :after_container %>
  </body>
</html>
