<!DOCTYPE html>
<html>
  <head>
    <title>Turbochat</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <%= link_to "turbochat", root_path, class: "navbar-brand" %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <% if current_user.present? %>
            <%= link_to "#{current_user.name} (sign out)", current_user, method: :delete, class: "nav-link" %>
          <% else %>
            <%= link_to "sign in / sign up", new_user_path, class: "nav-link" %>
          <% end %>
        </li>
      </ul>
    </nav>
    <div class="container">
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
